site_name: ExpressLRS.RU
site_url: https://expresslrs.ru/
repo_url: https://github.com/ExpressLRS/ExpressLRS/releases/
repo_name: ExpressLRS
theme:
  name: material
  features:
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.instant
  - toc.follow
  - navigation.path
  - navigation.top
  - search.suggest
  - search.highlight
  - content.tabs.link
  - content.code.annotation
  - content.code.copy
  language: ru
  logo: assets/images/logotype.svg
  favicon: favicon.ico
  
  palette:
  - media: "(prefers-color-scheme: dark)"
    scheme: default
    toggle:
      icon: material/weather-night
      name: Switch to dark mode
    primary: teal
    accent: blue
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/weather-sunny
      name: Switch to light mode
    primary: teal
    accent: lime   
markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.details
  - toc:
      permalink: true
  - admonition
  - attr_list
  - md_in_html
extra_javascript:
  - assets/javascripts/binding-phrase.js
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - assets/javascripts/tablesort.js
  - assets/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
plugins:
 - social 
 - search
extra:
  social:
    - icon: simple/telegram
      link: https://t.me/expresslrs_rus
      name: Telegram чатик
copyright: "Copyright &copy; 2023 Lesha Rodin"
#Добавлять новые пункты через тут, названия заданные тут видны на сайте, названия файлов - структура ссылки#
nav:
 - Главная: index.md
 - Инструкции: 
    - Настройка аппаратуры: Manuals/Firmware/Transmitters/tx-prep.md
    - Параметры сборки: Manuals/FlashingOptions.md
    - Биндинг: Manuals/Binding.md
    - Прошивка:
      - Передатчики:
        - Внешние передатчики: Manuals/Firmware/Transmitters/Flashing-external-tx.md
        - Внутренние передатчики: Manuals/Firmware/Transmitters/Flashing-internal-tx.md
      - Приемники:
        - Обычные приемники: Manuals/Firmware/Recievers/external-reciever.md
        - SPI приемники: Manuals/Firmware/Recievers/spi-reciever.md
    - Проблемы:
      - Оживление приемников: Manuals/Problems/Unbrick.md
      - Jumper T-Pro: Manuals/Problems/Jumper T-Pro.md
    - Разное:
      - EP1 DUAL передатчик: Manuals/DualRX_asTX.md
      - PWM + CRSF: Manuals/Firmware/Recievers/pwm-crsf.md
 - Железо: 
   - Приемники: hardware/receivers.md
   - Конвертеры: hardware/converters.md
 - Инфо: Info/index.md
 - HdZero: 
    - HdZero: HdZero/Index.md
    - Инструкции: 
      - Прошивка: HdZero/firmware.md
      - Настройка полетника: HdZero/fcsetup.md
      - Стик команды: HdZero/stick.md
      - Аналог мод: HdZero/analogmod.md
      - Анлок 1W на фристайле: HdZero/unlockfreestyle.md
    - Полезное:
      - 3d печать: HdZero/3dprint.md
      - Аксессуары: HdZero/whattobuy.md